
.app {
  width: max-content;
  margin: 0 auto;
}

.todo-list {
  display: inline-block;
  border: 2px solid grey;
  padding: 30px;
  margin: 30px;

  &__head {

  }

  &__title {
    font-size: 28px;
    font-weight: bold;
  }

  &__body {
    border: 1px solid grey;
    padding: 10px;
  }
}

.new-todo {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  &__input {
    width: 80%;
  }

  &__button {
    width: 20%;
  }
}

.todo-item {
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;


  &__status {}

  &__name {

  }

  &__description {}

  &__delete {}
}
